* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 8%);
  overflow: hidden;
}

@media (max-width: 900px) {
    .app {
      flex-direction: column;
    }
}