.projects {
    height: 100%;
    width: 82%;
    overflow-y: auto;
}

.header {
    height: 6%;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    position: fixed;
    z-index: 9999999;
    background-color: hsl(0, 0%, 8%);
}

.project-btn {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: "IBM Plex Mono", monospace;
    color: #ffffff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    position: relative;
    top: 6%;
}

.view {
    height: 100%;
    width: 100%;
    overflow: auto;
}